*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url(../img/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.conteiner__total{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caixa__traseira{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(64, 61, 57, 0.804);
    border-radius: 10px;
}

.caixa__traseira div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
} 

.caixa__traseira div p, 
.caixa__traseira button{
    margin-top: 30px;
}

.caixa__traseira div h3{
    font-weight: 600;
    font-size: 25px;
}

.caixa__traseira div p{
    font-size: 16px;
    font-weight: 300;
}

.caixa__traseira button{
    padding: 10px 40px;
    border: 2px solid #fff;
    font-size: 14px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}

.caixa__traseira button:hover{
    background: #fff;
    color: #EB5E28;
}

/*FORMULARIOS*/

.conteiner__login-cadastro{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;
    /*TRANSIÇÃO DEPOIS DO CODIGO EM JS*/
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.conteiner__login-cadastro form{
    width: 100%;
    padding: 80px 20px;
    background: #EB5E28;
    position: absolute;
    border-radius: 20px;
    text-align: center  ;
}

.conteiner__login-cadastro form h2{
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    color: #FFFCF2;
}

.conteiner__login-cadastro form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #FFFCF2;
    font-size: 16px;
    outline: none;
}

.conteiner__login-cadastro form  button{
    padding: 10px 40px;
    margin-top: 40px;
    border: 2px solid #FFFCF2;
    font-size: 14px;
    background: #EB5E28;
    font-weight: 600;
    color: #FFFCF2;
    cursor: pointer;
    outline: none;
    transition: 500ms;
}
.conteiner__login-cadastro form  button:hover{
    background-color: #FFFCF2;
    color: #EB5E28;
    transition: 500ms;
}


 
.formulario__login{
    opacity: 1;
    display: block;
}

.formulario__cadastro{
    display: none;
}

/*RESPOSIVIDADE*/

@media screen and (max-width: 850px){

    main{
        margin-top: 50px;
    }
    .caixa__traseira{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }
    .caixa__traseira div{
        margin: 0px;
        position: absolute;
    }
    /*FORMULARIOS*/
    .conteiner__login-cadastro{
        top: -10px;
        left: -5px;
        margin: auto;
    }
    .conteiner__login-cadastro form{
        position: relative;
    }
}
